*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* #1abc9c */

.debug{
  background-color: rgba(95, 158, 160, .2);
  border: 1px solid black;
  min-height: 80px;
}

/* -------------------------------------------- */

.jumbotron{
  min-height: 400px;
}